<a href="https://colab.research.google.com/github/Jags-Kamani/ApacheSpark/blob/master/3_Rank_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question:

Write a solution to rank the salaries from the Employee table according to the following rules:

Salaries should be ranked from the highest to the lowest.

If there is a tie between two salaries, both should have the same ranking.

After a tie, the next ranking number should be the next consecutive integer value (i.e., no holes in the rank sequence).

Return the top 25 ranked salaries, ordered by salary in descending order.

In [2]:
data = {
    'id' : [1, 2, 3, 4, 5],
    'salary' : [7000, 9000, 6000, 9000, 8000]
}

Sample Input                    

---


```
| id | salary |
| -- | ------ |
| 1  | 7000   |
| 2  | 9000   |
| 3  | 6000   |
| 4  | 9000   |
| 5  | 8000   |

```

Sample output



```
| salary | rank |
| ------ | ---- |
| 9000   | 1    |
| 9000   | 1    |
| 8000   | 2    |
| 7000   | 3    |
| 6000   | 4    |

```

**Your Solution Here**

In [5]:
import pandas as pd

employee = pd.DataFrame(data)
print(employee)

employee['rank'] = employee['salary'].rank(method = 'dense', ascending = False)
ordered = employee.sort_values(by=['salary', 'rank'], ascending = False)
result = ordered[['salary', 'rank']]
print(result)

   id  salary
0   1    7000
1   2    9000
2   3    6000
3   4    9000
4   5    8000
   salary  rank
1    9000   1.0
3    9000   1.0
4    8000   2.0
0    7000   3.0
2    6000   4.0

**Expected Output**



```
    salary  rank
250    9995   1.0
190    9930   2.0
63     9915   3.0
116    9892   4.0
294    9889   5.0
200    9888   6.0
73     9878   7.0
154    9864   8.0
153    9834   9.0
23     9801  10.0
86     9780  11.0
37     9778  12.0
145    9771  13.0
16     9691  14.0
51     9667  15.0
139    9644  16.0
159    9640  17.0
247    9627  18.0
46     9624  19.0
26     9608  20.0
123    9594  21.0
8      9569  22.0
54     9557  23.0
112    9532  24.0
282    9519  25.0
```